@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


* {
	padding:0;
	margin:0;
    line-height:1;
    /* border: 1px solid black;    */
} 
body{
    background-color: whitesmoke;
}
.p1{
    margin-top: 30px;
    font-size: 30px;
}
.p2{
    font-size: 20px;
}
h1{
    color: black;
}
p{
    font-family: 'Jua', sans-serif;
    margin-left: 80px;
	text-align: center;
    font-size: 30px;
    color: black;
}
div{
    float: left;
}
img{
    height: 200px;
    width: 200px;
	margin: 20px 100px;
	margin-left: 174px;
    text-align: center;
    display: block;	
}
header{
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Jua', sans-serif;
	display: flex;
    justify-content: center;
    align-content: center;
    font-size: 40px;
}
input[id*="popup"] {
	display:none;
}
input[id*="popup"] + label {
	display:inline-block;
	padding:20px;
	background:whitesmoke;
	color:white;
}
input[id*="popup"] + label + div {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}
input[id*="popup"] + label + div > div {
	position:absolute;
	top:50%;
	left:50%;
	transform:
	translate(-50%,-50%);
	width:800px;
	height:300px;
	background:#fff;
	z-index:2;
}
input[id*="popup"] + label + div > div > label {
	position:absolute;
	top:0%;
	right:0%;
	transform:translate(40%,-40%);
	padding:20px;
	background:#dd5347;
	border-radius:100%;
	z-index:1;
}
input[id*="popup"] + label + div > label {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.9);
	z-index:1;
}
input[id*="popup"] + label + div {
	opacity:0;
	visibility:hidden;
	transition:all 1s;
}
input[id*="popup"]:checked + label + div {
	opacity:1;
	visibility:visible;
}
input[id="menuicon"]{
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 60px;
    height: 40px;
    position: fixed;
    right: 0;
    top: calc(50% - 25px);
    transition: all .35s;
    cursor: pointer;
}
input[id="menuicon"]:checked + label {
    z-index: 2;
    right: 300px;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
} 
input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
div h2{
    margin-left: 20px;
    font-size: 40px;
    color: white;
}
div li a{
    margin-left: 20px;
    font-size: 30px;
    color: whitesmoke;
    line-height: 3;
	text-decoration: none;
	list-style: none;
}
div[class="sidebar"]{
    width: 300px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon"]:checked + label + div {
    right: 0;
}