@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body{
    background-color: whitesmoke;
}
input[id="menuicon"]{
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 60px;
    height: 40px;
    position: fixed;
    right: 0;
    top: calc(50% - 25px);
    transition: all .35s;
    cursor: pointer;
}
input[id="menuicon"]:checked + label {
    z-index: 2;
    right: 300px;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
} 
input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"]{
    width: 300px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon"]:checked + label + div {
    right: 0;
}
h1{
    font-size: 70px;
    font-weight: 500;
    font-family: 'Black Han Sans', sans-serif;
    margin-left: 400px;
    margin-right: 720px;;
}
div h2{
    margin-left: 20px;
    font-size: 40px;
    color: white;
}
div li a{
    margin-left: 10px;
    font-size: 30px;
    list-style: none;
    color: whitesmoke;
    line-height: 3;
    text-decoration: none;
}
header{
    width: 100%;
    height: 160px;
}
nav div img{
    margin-left: 120px;
}
nav div {
    float: left;
}
aside{
    float: left;
    margin-left: 20px;
}
aside div {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: 'Poor Story', cursive;   
}
aside p{
    font-size: 25px;
    font-family: 'Poor Story', cursive;
}
footer{
    margin-top: 350px;
}
footer p{
    font-size: 35px;
    font-family: 'Poor Story', cursive;
}
footer a{
    text-decoration: none;
    color: black;
}
footer li{
    float: left;
    margin-left: 10px;
    list-style: none;
}