@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
input[id="menuicon"]{
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 60px;
    height: 40px;
    position: fixed;
    right: 0;
    top: calc(50% - 25px);
    transition: all .35s;
    cursor: pointer;
}
input[id="menuicon"]:checked + label {
    z-index: 2;
    right: 300px;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background: #000;
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
} 
input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
div h2{
    margin-left: 20px;
    font-size: 40px;
    color: white;
}
div li a{
    margin-left: 10px;
    font-size: 30px;
    list-style: none;
    color: whitesmoke;
    line-height: 3;
    text-decoration: none;
}
div[class="sidebar"]{
    width: 300px;
    height: 100%;
    background: #222;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    transition: all .35s;
}
input[id="menuicon"]:checked + label + div {
    right: 0;
}
header{
    width: 90%;
    height: 350px;
}
body {
    font-family: 'NanumSquare', sans-serif;
    color: #333;
    font-size: 1.2em;
    background-color: #cdddee;
}
.of-auto1 {
    margin-left: 22%;
    font-size: 45px;
    font-family: 'Poor Story', cursive;
}
.of-auto2 {
    margin-top: -6%;
    margin-left: 30%;
    font-size: 40px;
    font-family: 'Poor Story', cursive;
}
.of-auto3 {
    margin-left: 65%;
    margin-top: -2%;
    font-size: 40px;
    font-family: 'Poor Story', cursive;
}
nav{
    float: left;
    height: 280px;
    width: 25%;
    background-color: whitesmoke;
    border-radius: 15px;
    margin-left: 5%;
}

#profile_txt {
    display: block;
    width: 700px;
    float: right;
    margin-top: 50px;
}
#licenses>p:first-of-type {
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 20px;
}
#licenses {
    margin-bottom: 60px;
    margin-left: 3%;
}
#licenses p {
    margin-bottom: 0.3em;
    margin-left: 20px;
}
footer{
    float: left;
    height: 280px;
    width: 25%;
    margin-left: 100px;
}
footer div a{
    margin-top: 30px;
    font-size: 40px;
    color:black;
    text-decoration: none;
    margin-left: 130px;
}
footer div p{
    font-family: 'NanumSquare', sans-serif;
    font-size: 30px;
    text-align: center;
}